- if @component.parent
  = link_to t('custom_pages.actions.back'),
    main_app.admin_component_path(@component.parent),
    class: 'btn btn-primary'
- else
  = link_to t('custom_pages.actions.back'),
    main_app.admin_component_path(@component),
    class: 'btn btn-primary'
%hr

%h4= @component.component.name.titleize

- if @component.draft?
  .alert.alert-warning= t('custom_pages.messages.draft')

= bootstrap_form_for @component, as: :components_page,
    url: main_app.admin_component_path(@component), method: :put do |f|
  = f.text_field :name, required: true
  .form-group
    = f.check_box :active, label: t('custom_pages.components.status'), custom: :switch

  = render @component.view_component(component_form: f)

  %hr
  = f.submit t('custom_pages.actions.save_as_draft'), name: 'as_draft', class: "btn btn-default"
  = f.submit(t('custom_pages.actions.discard_draft'), name: 'discard_draft', class: "btn btn-danger", data: { confirm: t('custom_pages.messages.are_you_sure') }) if @component.draft?
  = f.submit t('custom_pages.actions.save'), class: "btn btn-primary", data: { confirm: t('custom_pages.messages.are_you_sure') }
