= link_to t('custom_pages.actions.edit'),
  main_app.edit_admin_custom_page_component_path(@page, @component),
  class: 'btn btn-primary'

= link_to t('custom_pages.actions.back'),
  main_app.admin_custom_page_path(@page),
  class: 'btn btn-primary'

%hr
%h1.mb-4= @component.name
%h4= t('custom_pages.components.title')
%table.table.table-bordered
  %thead
    %tr
      %th= t('custom_pages.components.name')
      %th= t('custom_pages.components.component_type')
      %th= t('custom_pages.components.status')
      %th= t('custom_pages.actions.title')
  %tbody
    - if @component.children.empty?
      %tr
        %td{ colspan: 3 }
          = t('custom_pages.components.empty')
    - @component.children.each do |component|
      %tr
        %td= component.name
        %td= component.component_name.titleize
        %td= t("custom_pages.components.active.#{component.active}")
        %td
          = link_to t('custom_pages.actions.customize'),
              main_app.edit_admin_custom_page_component_path(@page, component)
          |
          = link_to t('custom_pages.actions.delete'),
              main_app.admin_custom_page_component_path(@page, component),
              method: :delete, data: { confirm: t('custom_pages.messages.are_you_sure') }
          |
          = link_to_if component.position > 1, t('custom_pages.actions.move_up'),
              main_app.move_to_admin_custom_page_component_path(@page, component, position: component.position - 1),
              method: :put
= link_to t('custom_pages.components.add_new'),
    main_app.new_admin_custom_page_component_component_path(@page, @component), class: 'btn btn-primary'
