= f.text_field :locale, required: true, help: t('mcm.admin.locales.help.locale')
= f.text_field :value, required: true, help: f.object.route? && t('mcm.admin.locales.help.route')
= f.hidden_field :key
= f.hidden_field :localizable_id
= f.hidden_field :localizable_type
= f.submit t('custom_pages.actions.save')
