= link_to t('custom_pages.actions.back'), localizable_path, class: 'btn btn-primary'

%hr

%h2= @locale.route? ? t('mcm.admin.locales.edit_route') : t('mcm.admin.locales.edit_locale')
%h5= "#{t('mcm.admin.locales.owner')}: #{link_to @locale.localizable.name, localizable_path}"

%hr

= bootstrap_form_for @locale, url: main_app.admin_locale_path(@locale), as: :mcm_locale do |form|
  = render partial: 'form', locals: { f: form }
