.row.py-4
  .col-12
    .row
      .col-6
        = f.text_field :title, required: true
      .col-6
        = f.select :title_color, available_button_colors, required: true
  .col-12.mb-3
    = f.label :content
    = f.hidden_field :content, required: true
    %trix-editor{ input: 'components_page_metadata_content' }
  .col-12
    .row
      .col-6
        = f.select :content_color, available_button_colors
      .col-6
        = f.select :content_alignment, text_alignments, required: true
  .col-sm-3
    = f.text_field :cta, required: true, label: 'CTA'
  .col-12
    = f.text_field :cta_url, required: true, label: 'URL'

  - 2.times { component_form.object.assets.build } if component_form.object.assets.empty?
  = component_form.fields_for :assets do |assets_form|
    .col-12
      - attachment = assets_form.object.attachment
      = image_tag attachment.variant(index.zero? ? :banner : :square).processed.url if attachment.attached?
      = assets_form.hidden_field :position, value: assets_form.index + 1
      = assets_form.file_field :attachment,
          label: t("custom_pages.components.banner.image_#{assets_form.index + 1}"),
          required: !Rails.env.test? && !assets_form.object.persisted?
