.row.mb-3
  .col-12
    = f.text_field :title, required: true
  .col-6
    = f.select :title_alignment, text_alignments, required: true
  .col-6
    = f.select :title_color, available_button_colors, required: true
  .col-12
    = f.hidden_field :content, required: true
    %trix-editor{ input: 'components_page_metadata_content' }
  .col-6
    = f.select :content_alignment, text_alignments, required: true
  .col-6
    = f.select :content_color, available_button_colors, required: true
.row
  .col-sm-6
    %fieldset
      %legend= t('.cta.legend')
      = f.text_field :cta_title,
          label: t('.cta.title')
      = f.text_field :cta_url,
          label: t('.cta.url')
      = f.select :button_color,
          available_button_colors,
          label: t('.cta.button')
      = f.select :button_alignment, text_alignments, required: true
  .col-sm-6
    %fieldset
      %legend= t('.position.legend')
      = f.select :content_vertical_alignment,
          vertical_alignment_options,
          required: true,
          label: t('.position.vertical')
      = f.select :content_horizontal_alignment,
          horizontal_alignment_options,
          required: true,
          label: t('.position.horizontal')
