%meta{ name: 'description', content: @page.metadata.meta_description }
%meta{ name: 'keywords', content: @page.metadata.meta_keywords }

- @page.components_pages.active.includes(:component, :children).top_level.each do |component|
  %section{ id: "section-#{component.id}" }
    - begin
      = render component.view_component
    - rescue ActionView::Template::Error => e
      - Rails.logger.error(e)
      .container
        %h4= t('custom_pages.messages.something_went_wrong')
        = link_to(t('custom_pages.actions.edit_component'), main_app.edit_admin_component_path(component))

- if @page.metadata.background_color.present?
  :css
    body {
      background-color: #{@page.metadata.background_color};
      background-image: none;
    }
