-# frozen_string_literal: true

- content_for :page_actions do
  %li= link_to t('custom_pages.actions.back'),
      admin_custom_page_path(@page),
      class: 'btn btn-primary'

%h2= @page.name
%h3= @page.path

%hr

= bootstrap_form_for @page, url: admin_custom_page_path(@page), as: :page do |form|
  = render partial: 'form', locals: { f: form }
