= link_to t('custom_pages.new'), main_app.new_admin_custom_page_path, class: 'btn btn-primary'

%hr

%table.table.table-bordered
  %thead
    %th= t('custom_pages.components.name')
    %th= t('custom_pages.routes')
    %th= t('custom_pages.is_it_live')
    %th= t('custom_pages.actions.title')
  %tbody
    - @custom_pages.each do |page|
      %tr
        %td= link_to page.name, main_app.admin_custom_page_path(page)
        %td
          %ul{style: 'list-style: none'}
            - page.routes.each do |route|
              %li= route.value
        %td
          = bootstrap_form_for page, as: :page, url: main_app.admin_custom_page_path(page),
              method: :put, class: "form" do |form|
            = form.check_box :active, id: page.id, custom: :switch, onchange: 'this.form.submit()',
                label: page.active ? t('custom_pages.status.live') : t('custom_pages.status.draft')
        %td
          = link_to_if page.disabled?, t('custom_pages.actions.delete'),
              main_app.admin_custom_page_path(page), method: :delete,
              data: { confirm: t('custom_pages.messages.are_you_sure') }
